html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* THEMES */
body.dark {
    background-color: #212125;
    color: white;
}

body.clear {
    background-color: white;
    color: #46464b;
}

body.clear.contrast {
    background-color: white;
    color: #212125;
}

body {
    font-family: 'Consolas', 'Menlo', 'Roboto Mono', 'Source Code Pro', 'Droid Sans', 'Ubuntu Mono', monospace;
}

/* ANCHORS */
a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* THEMED ANCHOR */
body.dark a,
body.dark a:visited {
    color: #212125;
    background-color: white;
}

body.clear a,
body.clear a:visited {
    color: white;
    background-color: #46464b;
}

body.clear.contrast a,
body.clear.contrast a:visited {
    color: white;
    background-color: black;
}


main,
footer {
    width: 90%;
    margin: 3em auto 3em auto;
}

main h1,
main h2,
main p {
    margin: 0;
    padding: 0;
}

main h2 {
    font-weight: normal;
    font-size: 1.1em;
}

main h3 a.anchor {
    margin-left: -1em;
    background-color: initial;
}

main section:not(:last-child) {
    margin-bottom: 6em;
}

body.dark h3 a.anchor::before {
    color: white;
}

body.clear h3 a.anchor::before {
    color: #46464b;
}

body.clear.contrast h3 a.anchor::before {
    color: black;
}

main h3 a.anchor::before {
    content: '#';
    text-decoration: underline;
    visibility: hidden;
    color: white;
}

main h3:hover a.anchor::before {
    visibility: visible;
}

main p:first-child {
    margin-top: 1.8em;
}

main p {
    margin-top: .9em;
    text-align: justify;
    line-height: 1.6em;
}

main .flex-container.column {
    flex-direction: column;
}

main .flex-container.center {
    justify-content: center;
    align-items: center;
}

main ul.theme-selection {
    padding: 0;
    margin: 0 0 2em 0;
    list-style: none;
}

main sup {
    text-decoration: underline;
    margin-bottom: .8em;
}

main ul.theme-selection li {
    width: 20px;
    height: 20px;
    /* border-radius: 20px; */
    line-height: 20px;
    background-color: white;
    border: 1px solid #46464b;
    color: #46464b;
    text-align: center;

    float: left;
}

main ul.theme-selection li:hover {
    cursor: pointer;
}

main ul.theme-selection li.clear {
    background-color: white;
    color: #46464b;
}

main ul.theme-selection li.clear.contrast {
    background-color: white;
    color: black;
}

main ul.theme-selection li.dark {
    background-color: #212125;
    color: white;
}

main ul.theme-selection li:not(:last-child) {
    margin-right: 1.1em;
}

main .profile {
    width: 5em;
    text-align: right;
}

main .flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-between; 
}

main .flex-container span:first-child {
    flex: 2;
}

noscript {
    display: inline-block;
    text-align: justify;
    margin: 3em 0 3em 0;
    width: 90%;
    padding: 1em;
    background-color: #21212518;
    border: 1px solid white;
}

body.dark noscript {
    border: 1px solid white;
}

body.clear noscript {
    border-color: #46464b;
}

body.clear.contrast {
    border-color: black;
}

footer p {
    margin: 0;
}

footer .links {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer svg {
    fill: currentColor;
    width: 24px;
    height: 1em;
}

footer .links li {
    float: left;
    margin-right: 1.1em;
}

@media screen and (max-width: 470px) {
    body {
        font-size: 12px;
    }

    article {
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 890px) {
    main,
    footer {
        width: 65%;
    }
}

@media screen and (min-width: 890px) and (max-width: 1290px) {
    main,
    footer {
        width: 45%;
    }
}

@media screen and (min-width: 1290px) {
    main,
    footer {
        width: 30%;
    }
}
