{
    "extends": "standard",
    "env": {
        "browser": true
    },
    "globals": {
        "$": true
    },
    "rules": {
        "no-tabs": "off",
        "semi": ["error", "always"]
    }
}
